src/pkg/launchpad.net
*.cgo*.go
*.cgo*.c
.hg/last-message.txt

.DS_Store
*.[568ao]
*.ao
*.so
*.pyc
._*
.nfs.*
[568a].out
*~
*.orig
*.rej
*.exe
.*.swp
.srclib-*
core
_cgo_*
_obj
_test
_testmain.go
test.out
build.out
y.tab.[ch]
doc/htmlgen
misc/cgo/life/run.out
misc/dashboard/builder/gobuilder
misc/goplay/goplay
src/cmd/6a/6a
src/cmd/?l/enam.c
src/cmd/cc/y.output
src/cmd/gc/builtin.c
src/cmd/gc/mkbuiltin1
src/cmd/gc/opnames.h
src/cmd/gc/y.output
src/cmd/gc/y1.tab.c
src/cmd/gc/yerr.h
src/pkg/Make.deps
src/pkg/exp/ogle/ogle
src/pkg/os/signal/unix.go
src/pkg/runtime/*/asm.h
src/pkg/runtime/goc2c
src/pkg/runtime/mkversion
src/pkg/runtime/runtime.acid.*
src/pkg/runtime/runtime_defs.go
src/pkg/runtime/version.go
src/pkg/runtime/version_*.go
src/pkg/unicode/maketables
src/pkg/github.com/
src/pkg/*.googlecode.com/
test/pass.out
test/run.out
test/times.out
test/garbage/*.out
goinstall.log
src/cmd/[568][acgl]/[568][acgl]
src/cmd/nm/*nm
src/cmd/cov/*cov
src/cmd/prof/*prof
src/cmd/cgo/cgo
src/cmd/ebnflint/ebnflint
src/cmd/godefs/godefs
src/cmd/godoc/godoc
src/cmd/gofix/gofix
src/cmd/gofmt/gofmt
src/cmd/goinstall/goinstall
src/cmd/goinstall/syslist.go
src/cmd/gopack/gopack
src/cmd/gotest/gotest
src/cmd/gotype/gotype
src/cmd/govet/govet
src/cmd/goyacc/goyacc
src/cmd/hgpatch/hgpatch
doc/codelab/wiki/*.bin
/bin/
/pkg/
