on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

name: ci

jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.15.x, 1.16.x, 1.17.x, 1.18.x, 1.19.x ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Restore cache
      uses: actions/cache@v2
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Format
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
      if: matrix.os != 'windows-latest'
    - name: Test
      run: go test -race ./...
