on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:

name: ci

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.x'
    - name: Install golangci-lint v2
      run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.7.2
    - name: Run golangci-lint
      run: golangci-lint run --timeout=5m

  test:
    strategy:
      matrix:
        go-version: [ 1.22.x, 1.23.x, 1.24.x, 1.25.x ]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Restore cache
      uses: actions/cache@v4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Format
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
      if: matrix.os != 'windows-latest' && matrix.go-version == '1.24.x'
    - name: Test
      run: go test -race ./...
